.features-list__icon {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--btn-background-portfolio);
}

.features-list__title {
  margin-bottom: 10px;
  text-transform: uppercase;
  @include font($fs: 14px, $fw: 700, $lh: 16px);
  color: var(--main-color);
}

.features-list__description {
  @include font($fs: 14px, $lh: 24px);
  color: var(--description-color);
}

@media screen and (max-width: 1199px) {
  .features {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 767px) {
  .features-list__title {
    text-align: center;
  }

  .features-list__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list__item {
    max-width: 354px;

    &:nth-child(odd) {
      margin-right: 30px;
    }

    &:not(:nth-child(n + 3)) {
      margin-bottom: 30px;
    }
  }

  .features-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: var(--section-pt-desktop);
    padding-bottom: var(--section-pb-desktop);
  }

  .features-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .features-list__item {
    max-width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
