.header {
  border: 1px solid var(--header-border-color);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

// mobile-menu

.float-menu__btn {
  border: none;
  background-color: transparent;

  &:focus .float-menu__icon {
    fill: var(--accent-color);
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  padding: 0;
  left: 50%;
  width: 100vw;
  height: 100vh;
  max-width: 480px;
  padding: 48px 40px;
  background-color: #fff;
  transform: translateY(-100%) translateX(-50%);
  transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  transform: translateY(0) translateX(-50%);
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: transparent;

  &:focus .mobile-menu__icon {
    fill: var(--accent-color);
  }
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__list {
  margin-bottom: 302px;
}

.mobile-menu__link {
  @include font($fs: 40px, $fw: 500, $lh: 47px, $ls: 0.02em);
  color: var(--main-color);
  transition: color var(--transition-funktion);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mobile-menu__list-contacts {
  margin-bottom: 64px;
}

.mobile-menu__contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__contacts-link {
  @include font($fs: 24px, $fw: 500, $lh: 28px, $ls: 0.02em);
  color: var(--description-color);
  transition: color var(--transition-funktion);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mobile-menu__contacts-link--font-size {
  @include font($fs: 34px, $fw: 500, $lh: 40px, $ls: 0.02em);
}

.mobile-menu__social-list {
  display: inline-flex;
  justify-content: space-between;
}

.mobile-menu__social-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__social-item:not(:first-child) {
  margin-left: 10px;
}

.mobile-menu__social-link {
  // @include font($fs: 18px, $fw: 500, $lh: 22px, $ls: 0.02em);
  color: var(--main-color);
  transition: color var(--transition-funktion);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

// end-mobile-menu

@media screen and (min-width: 768px) {
  .float-menu {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .navigation {
    display: flex;
  }

  .menu {
    display: flex;
  }

  .menu__item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  .menu__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    @include font($fs: 14px, $fw: 500, $lh: 16px, $ls: 0.02em);
    color: var(--main-color);

    transition: color var(--transition-funktion);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  /* header address*/

  .contacts-header {
    margin-left: auto;
  }

  .contacts-header__link {
    display: flex;
    @include font($fs: 14px, $fw: 500, $lh: 16px, $ls: 0.02em);
    color: var(--description-color);
    transition: color var(--transition-funktion);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .contacts-header__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .contacts-header__icon {
    margin-right: 8px;
    fill: currentColor;
    transition: fill var(--transition-funktion);

    .contacts-header__link:hover &,
    .contacts-header__link:focus & {
      fill: var(--accent-color);
    }
  }
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }

  .contacts-header {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-header {
    display: flex;
  }

  .contacts-header__item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  .contacts-header__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
