.grid__item {
  margin-top: 30px;
}

.progect-link__title {
  @include font($fw: 700, $ls: 0.03em);
  margin-bottom: 4px;
  color: var(--main-color);
}

.progect-link__text {
  @include font($fs: 16px, $lh: 30px);
  color: var(--description-color);
}

.progect-link {
  display: block;
  transition: box-shadow var(--transition-funktion);

  &:active,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.progect-link__overlay {
  position: absolute;
  left: 0;
  top: 0;
  padding: 77px 24px;
  @include font($lh: 28px);
  background-color: var(--accent-color);
  color: var(--accent-color-text);
  overflow: auto;
  transform: translateY(101%);
  transition: transform var(--transition-funktion);

  .project-link:active &,
  .project-link:focus & {
    transform: translateY(0%);
  }
}

.progect-link__wrapper {
  position: relative;
  overflow: hidden;
}

.progect-link__lable {
  border: 1px solid var(--border-color-projects);
  border-top: none;
  padding: 20px 24px;
}

@media screen and(min-width: 768px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }

  .grid__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.progect-link__overlay {
  padding: 49px 24px;
}

@media screen and(min-width: 1200px) {
  .grid__item {
    flex-basis: calc(100% / 3 - 30px);
  }

  .progect-link__overlay {
    padding: 63px 24px;
    .project-link:active & {
      transform: translateY(0%);
    }
  }

  .progect-link {
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
}
